@import 'colors';
@import 'dimensions';

div#wrapper {
  font-size: $huge;
  div#container {
    div#generic-form {
      text-align: center;
      width: auto;
      margin: $very_wide auto;
      padding: $very_wide;
      border-radius: $wide;
      border: solid 4px $dark_cyan;
      background-color: $very_light_gray;
      font-size: $huge;
      input[type='text'], select {
            padding: $wide;
            width: 400px - $wide * 4;
            font-size: $huge;
      }
      div.account {
        text-align: center;
        width: auto;
        margin: $very_wide auto;
        
       
        background-color: $very_light_gray;
        font-size: $huge;
        
        input[type='text'], input[type='password'], select {
              padding: $wide;
              width: 100px - $wide * 4;
              font-size: $huge;
        }
      }
      div#entry {
        text-align: center;
        width: auto;
        margin: $very_wide auto;
        padding: $very_wide;
        border-radius: $wide;
        border: solid 4px $dark_cyan;
        background-color: $very_light_gray;
        font-size: $huge;
        input[type='text'], select {
              padding: $wide;
              width: 900px - $wide * 4;
              font-size: $huge;
        }
      }
      p {
        text-align: center;
        padding: $moderate;
        margin: 0;
      }
      form {
        div {
          padding: $wide;
          label {
            display: block;
            padding: $moderate 0;
          }
          label.required:after {
            content: '*';
            padding-left: $narrow;
            color: $red;
          }
          input[type='checkbox']+label { display: inline-block }
          input[type='radio']+label { display: inline-block }
        }
        div.input-block {
          input { margin-right: $narrow * 2; }
        }
        div.notes {
          text-align: center;
          font-size: $small;
          span.mark { color:  $red }
          font-size: $huge;
        }
        div.buttons {
          text-align: center;
          input[type='submit'] {
            padding: $wide $very_wide;
          }
        }
        div.field_with_errors {
          display: inline;
          padding: 0;
          label { color: $red; }
          input { background-color: $pink; }
        }
        div.field_with_errors {
          display: inline;
          padding: 0;
          label { color: $red; }
          input { background-color: $pink; }
        }
        div.error-message {
          color: $red;
          font-size: $small;
          padding: 0 $very_wide;
        }
      }
    }
  }
}