/* line 4, /home/vagrant/centos6/hunter/app/assets/stylesheets/shared/errors.css.scss */
div#error {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #666666;
  background-color: #fafafa;
  text-align: center;
}
/* line 12, /home/vagrant/centos6/hunter/app/assets/stylesheets/shared/errors.css.scss */
div#error p.url {
  font-family: monospace;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
@charset "UTF-8";
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
/* line 6, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/container.css.scss */
div#wrapper div#container h1 {
  margin: 0;
  padding: 9px 6px;
  font-size: 16px;
  font-weight: normal;
  background-color: #1a3333;
  color: #eeeeee;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
/* line 5, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/flash.css.scss */
header span.notice, header span.alert {
  display: inline-block;
  padding: 2px 6px;
  margin: 0 10px;
  font-size: 8px;
  color: #fafafa;
}
/* line 13, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/flash.css.scss */
header span.notice {
  background-color: #00cc00;
}
/* line 17, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/flash.css.scss */
header span.alert {
  background-color: #cc0000;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
/* line 4, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper {
  font-size: 20px;
}
/* line 7, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form {
  text-align: center;
  width: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #448888;
  background-color: #fafafa;
  font-size: 20px;
}
/* line 16, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form input[type='text'], div#wrapper div#container div#generic-form select {
  padding: 10px;
  width: 360px;
  font-size: 20px;
}
/* line 21, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form div.account {
  text-align: center;
  width: auto;
  margin: 20px auto;
  background-color: #fafafa;
  font-size: 20px;
}
/* line 30, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form div.account input[type='text'], div#wrapper div#container div#generic-form div.account input[type='password'], div#wrapper div#container div#generic-form div.account select {
  padding: 10px;
  width: 60px;
  font-size: 20px;
}
/* line 36, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form div#entry {
  text-align: center;
  width: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #448888;
  background-color: #fafafa;
  font-size: 20px;
}
/* line 45, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form div#entry input[type='text'], div#wrapper div#container div#generic-form div#entry select {
  padding: 10px;
  width: 860px;
  font-size: 20px;
}
/* line 51, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form p {
  text-align: center;
  padding: 6px;
  margin: 0;
}
/* line 57, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div {
  padding: 10px;
}
/* line 59, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div label {
  display: block;
  padding: 6px 0;
}
/* line 63, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div label.required:after {
  content: '*';
  padding-left: 2px;
  color: #cc0000;
}
/* line 68, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div input[type='checkbox'] + label {
  display: inline-block;
}
/* line 69, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div input[type='radio'] + label {
  display: inline-block;
}
/* line 72, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.input-block input {
  margin-right: 4px;
}
/* line 74, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.notes {
  text-align: right;
  font-size: 10px;
  font-size: 20px;
}
/* line 77, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.notes span.mark {
  color: #cc0000;
}
/* line 80, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.buttons {
  text-align: center;
}
/* line 82, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.buttons input[type='submit'] {
  padding: 10px 20px;
}
/* line 86, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.field_with_errors {
  display: inline;
  padding: 0;
}
/* line 89, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.field_with_errors label {
  color: #cc0000;
}
/* line 90, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.field_with_errors input {
  background-color: #ffcccc;
}
/* line 92, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.field_with_errors {
  display: inline;
  padding: 0;
}
/* line 95, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.field_with_errors label {
  color: #cc0000;
}
/* line 96, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.field_with_errors input {
  background-color: #ffcccc;
}
/* line 98, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/form.css.scss */
div#wrapper div#container div#generic-form form div.error-message {
  color: #cc0000;
  font-size: 10px;
  padding: 0 20px;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
/* line 4, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 10, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
strong {
  color: deeppink;
}

/* line 14, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
div#wrapper {
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: 48px;
  background: url(/assets/back-349b9ce4d1531feaf30b0888d8b34ea65874ae47fb6d2e82efbb6c7a7cf6b6f0.jpg);
}

/* line 22, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
header {
  padding: 6px;
  background-color: #448888;
  color: #fafafa;
}
/* line 26, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
header span.logo-mark {
  font-weight: bold;
}

/* line 30, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #666666;
  color: #fafafa;
}
/* line 36, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/layout.css.scss */
footer p {
  text-align: center;
  padding: 6px;
  margin: 0;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
/* line 6, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/sessions.css.scss */
div#wrapper div#container div#login-form {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #448888;
  background-color: #fafafa;
}
/* line 14, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/sessions.css.scss */
div#wrapper div#container div#login-form h1 {
  background-color: transparent;
  color: #1a3333;
  font-size: 20px;
  font-weight: bold;
}
/* line 22, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/sessions.css.scss */
div#wrapper div#container div#login-form form div {
  padding: 10px;
}
/* line 24, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/sessions.css.scss */
div#wrapper div#container div#login-form form div label {
  display: block;
  padding: 6px 0；;
}
/* line 28, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/sessions.css.scss */
div#wrapper div#container div#login-form form div input[type='text'], div#wrapper div#container div#login-form form div input[type='password'] {
  padding: 10px;
  width: 360px;
}
/* line 32, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/sessions.css.scss */
div#wrapper div#container div#login-form form div input[type='submit'] {
  paddig: 10px 10px 20px;
}
@charset "UTF-8";
/* グレー系 */
/* シアン系 */
/* 赤系 */
/* 緑系 */
/* マージン、　パディング　*/
/* フォントサイズ */
/* 行の高さ */
/* line 4, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper {
  width: 90%;
  margin: 0 auto;
}
/* line 8, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper p {
  text-align: center;
  padding: 6px;
  margin: 0;
  font-size: 37px;
}
/* line 15, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper div.links {
  text-align: right;
  padding: 6px;
}
/* line 20, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table {
  margin: 6px auto 0;
  border: solid 6px #1a3333;
}
/* line 24, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table tr th {
  background-color: greenyellow;
  colorrrr: #fafafa;
}
/* line 28, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table tr th, div.table-wrapper table tr td {
  padding: 4narrow;
}
/* line 29, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table tr td.email {
  font-family: monospace;
}
/* line 30, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table tr td.actions {
  text-align: center;
  color: #666666;
}
/* line 37, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table.listing {
  width: 100%;
}
/* line 39, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table.listing tr:nth-child(even) {
  background-color: #fafafa;
}
/* line 42, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table.attributes {
  width: 100%;
}
/* line 44, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table.attributes th {
  padding-right: 6px;
  width: 200px;
}
/* line 45, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.table-wrapper table.attributes td {
  background-color: #fafafa;
}

/* line 49, /home/vagrant/centos6/hunter/app/assets/stylesheets/general/table.css.scss */
div.main {
  text-align: center;
  font-size: 50px;
}
/*


 */
