<% @title = '正式に登録する場合' %>
<h1><%= @title %></h1>

<table class="merit">
  <p>御社は初期設定の状態と思われます。</p>
  <h2>以下の内容をメール送信ください。</h2>
  <p>（当サイトの利用方法の案内を送付いたします。）</p>
  <ol>
    <p><li>タイトル　：　利用案内送付依頼</li></p>
    <p><li>認定番号</li></p>
    <p><li>会社名</li></p>
    <p><li>会社名（カナ）</li></p>
    <p><li>代表者氏名</li></p>
    <p><li>代表者氏名（カナ）</li></p>
    <p><li>郵便番号</li></p>
    <p><li>住所</li></p>
    <p><li>電話番号</li></p>
  </ol>
</table>

<h2>上記のメール送信先</h2>
<ol>
  <p><li>wonder.gate128@gmail.com</li></p>
  <p><li>ワンダーゲート　カスタマーサポート宛て</li></p>
</ol>

<p><strong>尚、ご連絡が無い場合は御社の情報は2ヶ月後より表示されません。<br>再度ご利用を開始するには利用規約の第4条に従っていただき<br>上記1～9を明記の上ご利用案内送付依頼の連絡をお願いします。</strong></p>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :client_root %>
  </div>
</div>