<% @title = '本サイトの利用メリット' %>
<h1><%= @title %></h1>

<table class="merit">
  <h2>お客様自身が混雑状況を把握できます。</h2>
  <ol>
    <p><strong>お客様は待ち時間の少ない業社を一目で確認出来ます。</strong></p>
    <p><strong>自社の待ち時間をリアルタイムで伝えることが出来ます。</strong></p>
    <p>お客様から、混雑具合の確認の問い合わせが激減します。</p>
    <p>他社との繁忙の差が緩和されます。</p>
    <p>自社の存在をお客様が把握できます。（広告効果があります。）</p>
  </ol>
  
  <h2>売り上げに対する効果</h2>
  <ol>
    <p>お客様が代行業者を利用しやすくなります。</p>
    <p>常連客以外からの依頼が期待できます。</p>
    <p>お客様が混雑状況を把握することで、依頼の集中が分散され<br>待機時間の減少の効果が期待されます。</p>
    <p>近隣の市区町村からの依頼が期待されます。</p>
    <p>飲食店店舗以外（個人宅）からの依頼が期待されます。</p>
  </ol>
  
  <h2>費用対効果について(月額￥3,300)</h2>
  <ol>
    <p><li>このサイトに登録することでお客様からの依頼が月に１回でも増えれば<br>利用料金の回収ができることでしょう。</li></p>
    <p><li>一日あたりの利用料金は<strong>￥110</strong>しかかかりません。</li></p>
  </ol>
  
  <h2>他社との繁忙差の解消</h2>
  <p>いままで自社の状況をお客様に伝える手段がなかった！</p>
  <ol>
    <p><li>他社が忙しいのに自社は暇・・・なんてことが無くなります。</li></p>
  </ol>
</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :client_root %>
  </div>
</div>