<% @title = '利用継続・利用再開について' %>
<h1><%= @title %></h1>

<table class="merit">
  <h2>おすすめ業社無料期間終了後の利用継続について</h2>
  <p>おすすめ業社としての表示を継続するには月額利用料金のお振り込みが必要です。<p>
  <ol>
    <p><strong>月額利用料金　￥3,300</strong><br>20日までに振込みを完了する必要があります。</p>
    <p>一括振込み割引もあります。</p>
  </ol>
  <p>詳細は利用規約（第4条）で確認してください。</p>
  
  <h2>おすすめ業社表示の再表示について</h2>
  <p>20日までに継続利用料金の振込みをしていなかったが<br>やはり今月、おすすめ業社として表示をしたいという場合<br>月額利用料金　＋　再開手数料の￥13,300 の振り込みが必要です。</p>
  
  <h2>20日以降に利用料金（￥3,300）を振り込んだ場合</h2>
  <p>20日以降の利用料金の振込みは翌々月の利用対象です。<br>たとえば9月21日～10月20日の間に￥3,300を振込みした場合<br>11月の利用料金としてカウントいたします。</p>
  
  <ol>
    <p><strong>月額利用料金　￥3,300</strong></p>
    <p><strong>再開手数料　￥10,000</strong></p>
  </ol>
  <p>詳細は利用規約（第4条）で確認してください。</p>
  
  <p><%= link_to '「利用規約」はこちらから', :terms_client_user %></p>
</table>

<div class="table-wrapper">
  <div class="links">
    <%= link_to '戻る', :client_root %>
  </div>
</div>