<% @title = '運転代行　ハンターちゃん' %>
<h1><%= @title %></h1>

<div class="main">
  <%= link_to(image_tag("irai.png", size: "60*60", alt: "代行の依頼はこちらから", align: "top"), :edit_general_request) %><br>
  <p></p>
  <%= link_to(image_tag("company.png", size: "60*60", alt: "代行業者はこちらから", align: "top"), :client_root) %><br>
</div>