<% @title = '広告掲載の詳細' %%>
<h1><%= @title %></h1>

<table class="merit">
  <h2>問い合せはメールでお願いします。</h2>
  <ol>
    <h3>wonder.gate128@gmail.com</h3>
    <h3>ワンダーゲート運営局　宛て</h3>
  </ol>
  <h2>概要</h2>
  <h3>　業種を問わず広告掲載します。</h3>
  <h3>　広告の掲載期間</h3>
    <ol>
      <ul>
        <li>基本は6ヶ月です。</li>
        <li>短期間でも受付いたします。</li>
      </ul>
    </ol>
    <p></p>
  <h3>　表示内容は別途打合せとなります。</h3>
    <ol>
      <ul>
        <li>動画を入れ込みたい</li>
        <li>スライドショーを含みたいなど</li>
      </ul>
    </ol>
  <h2>広告費用について（全国版）</h2>
  <ol>
    <ul>
      <li>1ヶ月～3ヶ月：￥200,000</li>
      <li>4ヶ月～6ヶ月：￥300,000</li>
      <li>動画広告：＋￥40,000～</li>
      <li>スライドショー：＋￥60,000～</li>
    </ul>
  </ol>
  <h2>広告費用について（地方版）</h2>
  <ol>
    <ul>
      <li>1ヶ月～3ヶ月：￥60,000</li>
      <li>4ヶ月～6ヶ月：￥90,000</li>
      <li>動画広告：＋￥40,000～</li>
      <li>スライドショー：＋￥60,000～</li>
    </ul>
  </ol>
  <h2>表示について</h2>
  <h3>　2～3社分の広告スペースがあります。</h3>
  <ol>
    <ul>
      <li>契約順に広告を掲載いたします。</li>
    </ul>
  </ol>
</table>

<div class="main">
  <div class="links">
    <%= link_to '戻る', :edit_general_request %>
  </div>
</div>